

body{
	background-color:  #2D5469;
}

.items {
  display: flex;
  flex-wrap: wrap-reverse;
  color: #e1b382;
  padding: 5rem;
}

.item-card {
  flex: 1 12%;
  padding: 10px;
  border: 1px solid #12343b;
  transition: transform .5s;
  margin: 0.5rem;
  background: #2D547D;
  opacity: 0.8;
}

.item-card:hover{
	cursor: pointer;
	-webkit-transform: scale(0.9);
    transform: scale(0.9);
	opacity: 1;
}

.item-image img {
  max-width: 100%;
}

.item-info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}


.ReactModal__Overlay--after-open{
	display: flex;
}

.item-modal{
	border: 0;
	background: #12343b;
	max-width: 680px;
	display: flex;
	justify-content: center;
	margin: auto;
	color: white;
	padding: 2rem;
}

.item-modal .modal-image{
	max-width: 220px;
}

.item-modal .modal-image img{
	width: 100%;
}

.item-modal .modal-info{
	padding: 1rem;
}

.item-modal .modal-info h1{
	font-weight: bold;
}

.item-modal .modal-info h4{
	font-style: italic;
}

.item-modal .close-modal{
	background: transparent;
	color: white;
	font-size: 26px;
	right: 1rem;
	top: 1rem;
	position: absolute;
	cursor: pointer;
	padding: 0;
	border: 0;
}

@media (max-width: 920px) {
  .items {
	  padding: 2rem;
  }
  .item-card {
    flex: 1 21%;
  }
  }

  @media (max-width: 420px) {
    .items {
  	  padding: 1rem;
    }
    .item-card {
      flex: 1 21%;
    }

}
